[submodule "asciinema-player"]
	path = asciinema-player
	url = https://github.com/asciinema/asciinema-player.git
	branch =  v2.6.1
[submodule "vt"]
	path = vt
	url = https://github.com/asciinema/vt.git
	branch = 83bf644ee1f36ffc5a5ee4c5d0185cc1b1b222db
